#caja {
    width: 600px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    }

.cuadrados {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 400px;
}

.cuadrados:first-child {
    background-color: red;
}

.cuadrados:nth-child(2) {
    background-color: blue;
}

.cuadrados:last-child {
    background-color: green;
}